<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="TableauDistConnectionString" connectionString="Data Source=10.17.4.79;Initial Catalog=OdinPlusDW;User ID=sa;Password=password" providerName="System.Data.SqlClient" />-->
    <add name="TableauDistConnectionString" connectionString="Data Source=.;Initial Catalog=TableauDist;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <system.net>
    <mailSettings>
      <smtp from="noreply@englishfirst.com" deliveryMethod="Network">
        <!--<network host="usb-ht1.ef.com" />-->
        <network host="USB-E1REPORT2"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="TableauServer" value="https://e1tableau.ef.com"/>
    <!--pdf, png-->
    <add key="ReportFormat" value="pdf"/>
  </appSettings>
</configuration>
